<form method="POST">
    <div>Nome Completo: <input type="text" name="nmUser" id="nmUser" value="<%= movies.nmUser %>" autofocus></div>
    <div>E-mail: <input type="text" name="emUser" id="emUser" value="<%= movies.emUser %>"></div>
    <div>Senha: <input type="password" name="passUser" id="passUser" value="<%= movies.passUser %>"></div>
    <div>CEP: <input type="text" name="fkCEP" id="fkCEP" value="<%= movies.fkCEP %>"></div>
    <div>Número: <input type="number" name="nrUser" id="nrUser" min="1" step="1" value="<%= movies.nrUser %>"></div>
    <div>Complemento: <input type="text" name="compUser" id="compUser" value="<%= movies.compUser %>"></div>
    <button>Salvar</button>
    <input type="hidden" value="<%= movies.idUser %>">
</form>