<h1>Todos os Usuários</h1>

<a href="/form">Novo Usuário</a>

<table>
    <tr>
        <!-- TÍTULOS DAS COLUNAS (MESMO NOME QUE ESTÁ NO BANCO DE DADOS) -->
        <td>Código do Usuário</td>
        <td>Nome Completo</td>
        <td>E-mail</td>
        <td>Senha</td>
        <td>CEP</td>
        <td>Número</td>
        <td>Complemento</td>
    </tr>
    <% movies.forEach(function(item) {%>
        <tr>
            <td>
                <%= item.idUser %>
            </td>
            <td>
                <%= item.nmUser %>
            </td>
            <td>
                <%= item.emUser %>
            </td>
            <td>
                <%= item.passUser %>
            </td>
            <td>
                <%= item.CEP %>
            </td>
            <td>
                <%= item.logradouro %>
            </td>
            <td>
                <%= item.nrUser %>
            </td>
            <td>
                <%= item.compUser %>
            </td>

            <td>
                <%= item.bairro %>
            </td>
            <td>
                <%= item.cidade %>
            </td>
            <td>
                <%= item.uf %>
            </td>
            <td>
                <a href="/delete?idUser=<%= item.idUser %>" onclick="return confirm('Você tem certeza de que deseja exluir este registro?')">Excluir</a>
                <a href="/update?idUser=<%= item.idUser %>">Editar</a>
            </td>
        </tr>
        <% }); %>
</table>