<link rel="stylesheet" href="css/table-style.css">

<h1>Usuários Cadastrados</h1>

<a href="/form"><button id="btn_cad" type="button" class="btn">Cadastrar Novo Usuário</button></a>

<table>
    <tr id="tbCabecalho">
        <td>Id</td>
        <td>Nome Completo</td>
        <td>E-mail</td>
        <!-- <td>Senha</td>
        <td>CEP</td> -->
        <td style="width: 170px;">Logradouro</td>
        <td>Número</td>
        <td>Complemento</td>
        <td>Bairro</td>
        <td>Cidade</td>
        <td>UF</td>
        <td>Ação</td>
    </tr>
    <% movies.forEach(function(item) {%>
        <tr>
            <td>
                <%= item.idUser %>
            </td>
            <td>
                <%= item.nmUser %>
            </td>
            <td>
                <%= item.emUser %>
            </td>
            <!-- <td>
                <%= item.passUser %>
            </td> -->
            <!-- <td>
                <%= item.CEP %>
            </td> -->
            <td>
                <%= item.logradouro %>
            </td>
            <td>
                <%= item.nrUser %>
            </td>
            <td>
                <%= item.compUser %>
            </td>

            <td>
                <%= item.bairro %>
            </td>
            <td>
                <%= item.cidade %>
            </td>
            <td>
                <%= item.uf %>
            </td>
            <td>
                <!-- <button type="button">
                    <a href="/delete?idUser=<%= item.idUser %>" onclick="return confirm('Você tem certeza de que deseja exluir este registro?')">Excluir</a>
                </button> -->
                <a href="/delete?idUser=<%= item.idUser %>" onclick="return confirm('Você tem certeza de que deseja exluir este registro?')"><button type="button" class="btn btn-acao1">Excluir</button></a>
                <!-- <button>
                    <a href="/update?idUser=<%= item.idUser %>">Editar</a>
                </button> -->
                <a href="/update?idUser=<%= item.idUser %>"><button type="button" class="btn btn-acao2">Editar</button></a>
            </td>
        </tr>
        <% }); %>
</table>